services:
  ruyaoptik-api:
    build: .
    container_name: ruyaoptik-api
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      # connection string'i ENV ile vermek istersen buraya koy

    restart: unless-stopped
